In [ ]:
#NaiveBayes project ( Weather Prediction )
#Required Modules
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [ ]:
#Reading CSV files
df=pd.read_csv('/content/weather with heat index formula no 2.csv')
df

     Humidity   Temperature  Heat Index   LightIntensity Go Out
0          95          31.1   47.231003              331    yes
1          95          31.1   47.231003              308    yes
2          95          31.1   47.231003              298    yes
3          95          31.0   46.775615              301    yes
4          95          31.1   47.231003              303    yes
..        ...           ...         ...              ...    ...
215        20          22.0   23.718980              304    yes
216        23          22.0   24.018809              298    yes
217        20          22.0   23.718980              313    yes
218        19          24.0   24.419202              317    yes
219        19          24.0   24.419202              301    yes

[220 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Humidity         220 non-null    int64
 1    Temperature     220 non-null    float64
 2   Heat Index       220 non-null    float64
 3    LightIntensity  220 non-null    int64
 4   Go Out           220 non-null    object
dtypes: float64(2), int64(2), object(1)
memory usage: 8.7+ KB

In [ ]:
#df = df.drop(df.columns[[4, 5]], axis=1)

In [ ]:
df

     Humidity   Temperature  Heat Index   LightIntensity Go Out
0          95          31.1   47.231003              331    yes
1          95          31.1   47.231003              308    yes
2          95          31.1   47.231003              298    yes
3          95          31.0   46.775615              301    yes
4          95          31.1   47.231003              303    yes
..        ...           ...         ...              ...    ...
215        20          22.0   23.718980              304    yes
216        23          22.0   24.018809              298    yes
217        20          22.0   23.718980              313    yes
218        19          24.0   24.419202              317    yes
219        19          24.0   24.419202              301    yes

[220 rows x 5 columns]

In [ ]:
df=df.drop(df.index[236:])
print(df)

     Humidity   Temperature  Heat Index   LightIntensity Go Out
0          95          31.1   47.231003              331    yes
1          95          31.1   47.231003              308    yes
2          95          31.1   47.231003              298    yes
3          95          31.0   46.775615              301    yes
4          95          31.1   47.231003              303    yes
..        ...           ...         ...              ...    ...
215        20          22.0   23.718980              304    yes
216        23          22.0   24.018809              298    yes
217        20          22.0   23.718980              313    yes
218        19          24.0   24.419202              317    yes
219        19          24.0   24.419202              301    yes

[220 rows x 5 columns]

In [ ]:
#Encoding the strings to Numericals
Numerics=LabelEncoder()

In [ ]:
#Dropping the target variable and make it is as newframe
inputs=df.drop('Go Out',axis='columns')
target=df ['Go Out']
target

0      yes
1      yes
2      yes
3      yes
4      yes
      ...
215    yes
216    yes
217    yes
218    yes
219    yes
Name: Go Out, Length: 220, dtype: object

In [ ]:
df=df.drop(df.index[220:])
print(df)

     Humidity   Temperature  Heat Index   LightIntensity Go Out
0          95          31.1   47.231003              331    yes
1          95          31.1   47.231003              308    yes
2          95          31.1   47.231003              298    yes
3          95          31.0   46.775615              301    yes
4          95          31.1   47.231003              303    yes
..        ...           ...         ...              ...    ...
215        20          22.0   23.718980              304    yes
216        23          22.0   24.018809              298    yes
217        20          22.0   23.718980              313    yes
218        19          24.0   24.419202              317    yes
219        19          24.0   24.419202              301    yes

[220 rows x 5 columns]

In [ ]:
#Creating the new dataframe
#inputs['LightIntensity_n']=Numerics.fit_transform(inputs['LightIntensity'])
inputs

     Humidity   Temperature  Heat Index   LightIntensity
0          95          31.1   47.231003              331
1          95          31.1   47.231003              308
2          95          31.1   47.231003              298
3          95          31.0   46.775615              301
4          95          31.1   47.231003              303
..        ...           ...         ...              ...
215        20          22.0   23.718980              304
216        23          22.0   24.018809              298
217        20          22.0   23.718980              313
218        19          24.0   24.419202              317
219        19          24.0   24.419202              301

[220 rows x 4 columns]

In [ ]:
inputs=inputs.drop(inputs.index[220:])
print(inputs)

     Humidity   Temperature  Heat Index   LightIntensity
0          95          31.1   47.231003              331
1          95          31.1   47.231003              308
2          95          31.1   47.231003              298
3          95          31.0   46.775615              301
4          95          31.1   47.231003              303
..        ...           ...         ...              ...
215        20          22.0   23.718980              304
216        23          22.0   24.018809              298
217        20          22.0   23.718980              313
218        19          24.0   24.419202              317
219        19          24.0   24.419202              301

[220 rows x 4 columns]

In [ ]:
nan_in_inputs = inputs.isnull().values.any()
print(nan_in_inputs)

False

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
#Applying the Gaussian naivebayes
Classifier=GaussianNB()
Classifier.fit(inputs,target)

GaussianNB()

In [ ]:
#80% accuracy
Classifier.score(inputs,target)

0.8090909090909091

In [ ]:
#Prediction
Classifier.predict([[45,50,43,200]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

array(['yes'], dtype='<U3')

In [ ]:
df

     Humidity   Temperature  Heat Index   LightIntensity Go Out
0          95          31.1   47.231003              331    yes
1          95          31.1   47.231003              308    yes
2          95          31.1   47.231003              298    yes
3          95          31.0   46.775615              301    yes
4          95          31.1   47.231003              303    yes
..        ...           ...         ...              ...    ...
215        20          22.0   23.718980              304    yes
216        23          22.0   24.018809              298    yes
217        20          22.0   23.718980              313    yes
218        19          24.0   24.419202              317    yes
219        19          24.0   24.419202              301    yes

[220 rows x 5 columns]